
.header {
  display: flex;
  flex-direction: row;
  background-color: #222222;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.button {
    color: #ffffff;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
}

.button:hover {
    background-color: #444444;
}
