.movieList {
  display: flex;
  align-items: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}