.movieName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.poster {
    position: relative;
    width: 182px;
    height: 268px;
    transition: all .2s ease-in-out;
}

.poster:hover {
    transform: scale(1.2);
    z-index: 2;
}

.poster>img {
    box-shadow: 2px 2px 2px #00000033;
}

.hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #00000099;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.hover:hover {
    opacity: 1;
}

.hover p {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 28px;
    align-items: center;
}

.movieTitle {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    overflow-wrap: break-word;
    max-width: 182px;
    margin-top: 4px;
}